node_modules

# vim temp files
*.swp
*.swo
*.swn
*.swm

# mac files
*.DS_Store

# sample music files
# music # add to gh-pages branch

# livereload
miru-connect.js

# build files
# dist/ # add to gh-pages branch
#
stage/
